.nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border: 1px solid black;
}
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid black;
    list-style: none;
}
.nav-links{
    // border: 1px solid red;
    margin: 0px 20px;
}
.nav-logo{
    margin-left: 20px;
}
