.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.nav-container{
    list-style: none;
    display: flex;
}
.main{
    color: white;
    height: 110vh;
    background-image: url("https://images.contentstack.io/v3/assets/bltc5a09bf374882538/blt0eac3686a06a4a3f/5f1a2be2ecbff322d09554d6/hero-carousel-1.jpg");
}
.home{
    margin-right: 50px;
    &:hover{
        color: #eb5646;
    }
}
.logo{
    margin-left: 50px;
    width: 200px;
    height: 38px;
}
.inner-nav{
    width: 70%;
    margin: auto;
    margin-top: 3vh;
}
.inner-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.inner-nav ul li{
    list-style: none;
}
.banner-heading{
    text-align: center;
    width: 70%;
    margin:auto;
    margin-top: 18vh;
}
.banner-heading h1{
    font-size: 60px;
}
.banner-heading p{
    font-size: 21px;
}
.banner-subHeading{
    text-align: center;
}
.try{
    background-color:#eb5646;
    color: white;
    padding: 10px 40px;
    display: inline;
    border: 4px solid #eb5646;
    &:hover{
        cursor: pointer;
        transition: 0.5s;
        background-color: transparent;
    }
}
@media(max-width: 880px){
    .main{
        background-image: none;
        background-color: #2a0f57;
        height: auto;
    }
    .banner-heading{
        margin-top: 30px;
    }
    .banner-heading h1{
        font-size: 40px;
    }
    .banner-heading p{
        font-size: 18px;
    }
}
@media(max-width: 500px){
    .container{
        flex-direction: column;
        padding: 0px;
    }
    .logo{
        margin-left: 0px;
    }
    .banner-heading h1{
        font-size: 25px;
    }
    .banner-heading p{
        font-size: 15px;
    }  
    .try{
        padding: 10px 20px;
    }
}
@media(max-width: 160px){
    .try{
        padding: 5px 10px;
    }
}